@tailwind base;
@tailwind components;
@tailwind utilities;


input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus, 
input:-webkit-autofill:active {
    -webkit-box-shadow: 0 0 0 30px #404040 inset !important; /* Цвет фона bg-neutral-700 */
    -webkit-text-fill-color: #ffffff !important; /* Цвет текста (белый) */
}